# Pandas III dalis

In [1]:
import numpy as np
import pandas as pd

### Unikalios reikšmės

In [2]:
top = pd.read_csv('/home/robotautas/PycharmProjects/kursas/Pandas/top50.csv', encoding='ISO-8859-1')

In [25]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,3:11
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,5:02
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,3:06
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,2:55

Nuskaitėme failą į DataFrame'ą 'top'. Šie duomenys - Spotify top 50 2019 dainų.

Pamėginkime išrinkti unikalias reikšmes iš stulpelio 'Genre':

In [4]:
top['Genre'].unique()

array(['canadian pop', 'reggaeton flow', 'dance pop', 'pop', 'dfw rap',
       'trap music', 'country rap', 'electropop', 'reggaeton',
       'panamanian pop', 'canadian hip hop', 'latin', 'escape room',
       'pop house', 'australian pop', 'edm', 'atl hip hop', 'big room',
       'boy band', 'r&b en espanol', 'brostep'], dtype=object)

jeigu norime sužinoti, kiek jų yra, tiesiog naudojame *len* funkciją:

In [5]:
len(top['Genre'].unique())

21

tą patį gausime, panaudoję pandas metodą **.nunique()**:

In [6]:
top['Genre'].nunique()

21

galime panaudoti metodą **.value_counts()**:

In [7]:
top['Genre'].value_counts()

dance pop           8
pop                 7
latin               5
edm                 3
canadian hip hop    3
canadian pop        2
dfw rap             2
electropop          2
panamanian pop      2
country rap         2
brostep             2
reggaeton           2
reggaeton flow      2
boy band            1
trap music          1
escape room         1
big room            1
australian pop      1
pop house           1
r&b en espanol      1
atl hip hop         1
Name: Genre, dtype: int64

gavome sąrašą unikalių reikšmių, ir kiek jų yra lentelėje.

### .apply() metodas

jei pamenate, su DF galime naudoti įvairias funkcijas, pvz.:

In [8]:
top['Length.'].sum()

10048

su **.apply()** galime maudoti ir savo funkcijas. Parašykime funkciją, kuri iš duotų sekundžių skaičiaus išskirs minutes ir sekundes formatu mm:ss

In [9]:
def minutes_seconds(s):
    minutes = s // 60
    seconds = s % 60
    if len(str(seconds)) < 2:
        return f'{minutes}:0{seconds}'
    return f'{minutes}:{seconds}'

In [10]:
minutes_seconds(110)

'1:50'

pritaikykime šią funkciją stulpeliui 'Length.':

In [17]:
top['Length.'].apply(minutes_seconds).head()

0    3:11
1    5:02
2    3:06
3    3:18
4    2:55
Name: Length., dtype: object

Gavome seriją. Galime jos pagrindu jos pagrindu pakoreguoti senąjį arba sukurti naują stulpelį, pvz.:

In [13]:
top['Length.Pretty'] = top['Length.'].apply(minutes_seconds)

In [14]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,3:11
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,5:02
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,3:06
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,2:55

Galime naudoti **lambdas**:

In [16]:
top['Energy'].apply(lambda x: round(x/10)).head()

0    6
1    8
2    8
3    6
4    6
Name: Energy, dtype: int64

pavertėme 'Energy' stulpelio įvertinimus iš šimtabalės į dešimtbalę sistemą.

### Naudingos funkcijos

**.columns** grąžina stulpelių sąrašą

In [18]:
top.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity',
       'Length.Pretty'],
      dtype='object')

**.index** suteikia informaciją apie indeksą:

In [19]:
top.index

RangeIndex(start=0, stop=50, step=1)

**.shape** grąžina *tuple* su eilučių ir stulpelių skaičiumi

In [20]:
top.shape

(50, 15)

**.sort_values** surūšiuoja eilutes pagal nurodytą stulpelį:

In [22]:
top.sort_values('Track.Name').head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,2:56
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,2:59
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,2:42
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,3:38

**.isnull()** grąžina lentelę su boolean reikšmėmis kur True reiškia NaN.

In [24]:
top.isnull().head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

ši lentelė tvarkinga, todėl True reikšmių nesimato :)